<section class="contact-area section-padding-100" style="border-top:1px solid #ECECEC">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 col-xl-9">
        <div class="contact-content mb-100">
          <h4 class="mb-50">We love seeing your feedback</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique justo id elit bibendum pharetra non
            vitae lectus. Mauris libero felis, dapibus a ultrices sed, commodo vitae odio. Sed auctor tellus quis arcu
            tempus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac tincidunt nunc. Cras sed mollis
            erat.</p>

          <div class="row align-items-center mt-30 mb-50">
            <div class="col-12 col-lg-4">
              <!-- Single Contact Info -->
              <div class="single-contact-info d-flex align-items-center">
                <div class="icon mr-15">
                  <img src="assets/core-img/placeholder.png" alt="">
                </div>
                <p>1481 Creekside Lane Avila Beach, CA 931</p>
              </div>

              <!-- Single Contact Info -->
              <div class="single-contact-info d-flex align-items-center">
                <div class="icon mr-15">
                  <img src="assets/core-img/smartphone.png" alt="">
                </div>
                <p>+53 345 7953 32453</p>
              </div>

              <!-- Single Contact Info -->
              <div class="single-contact-info d-flex align-items-center">
                <div class="icon mr-15">
                  <img src="assets/core-img/message.png" alt="">
                </div>
                <p>yourmail@gmail.com</p>
              </div>
            </div>
            <div class="col-12 col-lg-8">
              <!-- ##### Google Maps ##### -->
              <div class="map-area">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0977424815455!2d105.8501706501119!3d21.028774735929655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab953357c995%3A0x1babf6bb4f9a20e!2zSOG7kyBIb8OgbiBLaeG6v20!5e0!3m2!1svi!2s!4v1585726341788!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
