<section class="contact-area section-padding-100" style="border-top:1px solid #ECECEC">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 col-xl-9">
        <div class="contact-content mb-100">
          <h4 class="mb-50">About Us</h4>

        <div class="col-md-12 login-form-1">
			<br>
		
			<div class="row">
                <div class="col-md-6 text-center">
                    <img src="https://image.thanhnien.vn/660/uploaded/2014/pictures20134/phuongthanh/master5/master7.jpg" alt="avatar">
                </div>
                <div class="col-md-6">
					<h4>Christine Hà</h4>
					<p>
						Christine Huyen Tran Hà is an American chef, writer and TV host. She is the first blind
						contestant of MasterChef and the winner of its third season in 2012
					</p>
					<p>
						Born: May 9, 1979 (age 40 years)
					</p>
					<p>
						Books: Recipes from My Home Kitchen
					</p>
					<p>
						Education: The University of Texas at Austin, University of Houston
					</p>
                </div>
            </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</section>
